<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestione Timer</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Gestione Timer</h1>
      </div>
      <div class="group" id="timers-box-group">
        <!-- Dynamically added boxes -->
      </div>
    </div>

    <!-- Modify window -->
    <div id="edit-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Modifica Tempi</h2>
        <div id="time-list">
          <!-- Added dynamically -->
        </div>
        <div class="modal-controls">
          <button id="add-time" class="btn-edit">Aggiungi Tempo</button>
          <button id="confirm-changes" class="btn-toggle btn-confirm">Conferma</button>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
