# to test without using real hardware set to 0
IS_RPIZERO = "1"

APP_HOST = "0.0.0.0"

# those files need read/write access
DEVICES_PATH = "config/devices.json"
TIMERS_PATH = "config/timers.json"
SETTINGS_PATH = "config/settings.json"
LOCALE_PATH = "locale"

LOCALE = "en"

# if outputs are swapped, a True means low output and a False means high output
SWAP_OUTPUTS = "0"

# time in seconds between time checks
# a time check is when it checks every timer set and see if that output needs to
# be enabled or not
CYCLE_DELAY = "10"
