IS_RPIZERO = "1"

APP_HOST = "0.0.0.0"

# those files need read/write access
DEVICES_PATH = "config/devices.json"
TIMERS_PATH = "config/timers.json"
SETTINGS_PATH = "config/settings.json"

SWAP_OUTPUTS = "0"
CYCLE_DELAY = "10"
